.list-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-item {
    width: 300px;
    margin: 0 10px 25px;
}