.comment-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;
}

.add-comment-form {
    margin-left: 0;
    margin-bottom: 30px;
    max-width: 100%;
}