.card {
    margin: 0 !important;
}

.card-footer {
    display: flex;
    justify-content: flex-end;
}

.card-footer > * {
    margin-left: 5px;
}

.card-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-text {
    position: relative;
    height: 70px;
    overflow: hidden;
}

.card-text:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    background: linear-gradient(to bottom, transparent, #fff);
}